<div class="grid gap-10 w-[90%] max-w-3xl mx-auto mt-32 grid-cols-1 sm:grid-cols-3 grid-flow-row-dense text-text-dark dark:text-text">
  <!-- User navbar -->
  <div class="bg-background dark:bg-background-dark bg-opacity-10 dark:bg-opacity-10 rounded-md p-10 h-fit">
    <div class="flex items-center justify-center">
      <%= avatar_or_default_for(current_user, variant: :medium, class_name: "mx-auto h-[5.875rem] w-[5.875rem] rounded-full") %>
    </div>
    <div class="text-center mt-3">
      <h2 class="font-bold text-lg"><%= current_user.fullname %></h2>
      <p class="text-sm font-thin"><%= current_user.email %></p>
    </div>
  </div>

  <!-- User info -->
  <div class="col-span-1 sm:col-span-2 bg-background dark:bg-background-dark bg-opacity-10 dark:bg-opacity-10 rounded-md p-10 h-fit">
    Info
  </div>
</div>