<div
  class="relative max-w-md mx-auto md:max-w-2xl min-w-0 break-words bg-black w-full shadow-lg rounded-xl my-[250px]">
  <div class="px-6">
    <div class="flex flex-wrap justify-center">
      <div class="w-full flex justify-center">
        <div class="relative">
          <img
            src="https://avatars.githubusercontent.com/u/51298227?v=4"
            class="shadow-xl rounded-full align-middle border-none absolute -mt-16 max-w-[150px] translate-x-[-50%]" />
        </div>
      </div>
    </div>
    <%= render current_user, user: current_user %>
  </div>
</div>
