<% nav_items = [
  {
    name: "Home",
    path: root_path
  },
  {
    name: "FAQ",
    path: faq_path
  }
]
%>

<% if current_user&.admin? %>
  <li>
    <%= link_to "Admin", admin_path, class: "px-1 block py-2 pr-4 pl-3 border-b lg:border-0 lg:hover:text-primary-700 lg:p-0 text-gray-400 hover:bg-gray-700 hover:text-white lg:hover:bg-transparent border-gray-700" %>
  </li
<% end %>
<% nav_items.each do |item| %>
  <li>
    <a href="<%= item[:path] %>" class="px-1 block py-2 pr-4 pl-3 border-b lg:border-0 lg:hover:text-primary-700 lg:p-0 text-gray-400 hover:bg-gray-700 hover:text-white lg:hover:bg-transparent border-gray-700"><%= item[:name] %></a>
  </li>
<% end %>
