<section class="hero min-h-screen">
  <div class="hero-content flex-col lg:flex-row-reverse gap-10">
    <%= image_tag "illustrations/programming.svg", class: "max-w-sm rounded-lg shadow-2xl" %>
    <div class="text-text">
      <h1 class="text-[70px] font-bold">Unleash <span class="text-gradient">Your Potential</span></h1>
      <h2 class="text-[50px] font-thin">with Our <span class="text-gradient">Programming Courses!</span></h2>
      <a href="#" class="btn mt-5 text-center text-background rounded-lg bg-primary hover:bg-primary hover:opacity-70">
        Explore Courses
      </a>
    </div>
  </div>
</section>
