<a href="#">
  <div class="max-w-sm rounded-lg shadow dark:shadow-gray-400">
      <%= image_tag course.image, class: "rounded-t-lg" %>
      <div class="p-5">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"><%= course.name %></h5>
        <p class="mb-3 font-normal text-gray-600 dark:text-gray-400"><%= preview_description(course) %></p>
        <a href="#" class="inline-flex items-center px-3 py-2 text-sm font-bold text-center text-text dark:text-text-dark bg-accent-dark dark:bg-accent hover:opacity-80 rounded-lg focus:ring-4 focus:outline-none">
          Read more
          <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
          </svg>
        </a>
      </div>
  </div>
</a>