<div class="min-h-screen w-[95%] mx-auto">
  <h1 class="text-3xl font-bold mt-10 text-center">Welcome, <%= current_user.fullname %></h1>
  <div class="grid grid-cols-2 gap-4 mt-4 md:grid-cols-3 lg:grid-cols-5">
    <% panels.each do |panel| %>
      <div class="col-span-1">
        <a href="<%= panel[:path] %>" class="btn w-full btn-primary">
          <p class="text-center font-bold text-[20px]"><%= panel[:title] %></p>
        </a>
      </div>
    <% end %>
  </div>
</div>
